@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@theme {
  --font-arsenal: "Arsenal", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --animate-float: float 3s ease-in-out infinite;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(-2deg);
  }

  50% {
    transform: translateY(-20px) rotate(2deg);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
